#toolBar{
	position: fixed;
	/* background-color: white; */
	padding-top: 0px;
	height: 10%;

}


#aboutMe{
	/* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIASTMZZWdkKNRg2SG0UWW8y7S1I2LSWIIBA&usqp=CAU"); */
	background-image:url("background2.png");
	
	margin: 2% 4%;
	background-repeat:unset;
	background-blend-mode: lighten;
	color: rgba(8, 15, 15, 0.906);
	padding: 5% 5% 5% 2%;	
	
}


body{
	
	font-family: Apple Chancery, cursive;
	align-items: center;
	align-content: center;
	text-align: center;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmzJAYyQbOkVm01aCqjWYivn5ZXjfWcUI46w&usqp=CAU);
	background-repeat: repeat;
	
}

#toolBar a{
	text-decoration: none;
	break-after: none;
	color: rgb(5, 5, 5);
}
#toolBar a:hover{
	text-decoration: underline;
}

div{
	padding-top: 5%;
	text-align: center;
	align-items: center;
	align-self: center;
	
}

#myPhotos ul{
	list-style: none;
	align-items: center;
	
}

.title{
	border: 2px;
	text-decoration:solid;
	padding-right: 5%;
	margin:2% 4%;
	
}

#myPhotos li{
	display: inline;
}

.Photos{
	width: 30%;
	height: 300px;
	border-radius: 20px;
	padding: 12px;

}
iframe{
	padding-right: 5%;
}
#QRcode img{
	padding-right: 5%;
}

#myForm{
	padding-right: 100px;
	border-style:ridge;
	margin: 2% 32%;
	padding-right: 0ch;
	padding-bottom: 2%;
	margin-right: 35%;
	border-radius: 8px;
	
	
}

h1{
	text-align: center;
}
h2{
	text-align: center;
	size: 20;
}
